@import 'stylesheets/Colors';
@import 'stylesheets/App';

.hidden {
  display: none;
}

ul.menu {
  margin-bottom: 5px;
}

li {
  list-style: none;
  margin-bottom: 5px;
}

.open,
.open:focus {
  background-color: $green;
}
