<form action="/articles" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" id="title">
  <br />
  <label for="description">Description</label>
  <textarea name="description" id="description"></textarea>
  <br />
  <label for="url">url</label>
  <input type="text" name="url" id="url">
  <br />
  <input type="submit" name="" value="Boom">
</form>
