<h1>Random articles here!</h1>

<button
  type="button"
  name="random_article"
  id="random_article"
  >Get a random article!
</button>

<script type="text/javascript" src="javascript/random.js"></script>
