body {
  background-color: #ADD8E6;
}

button.button {
  margin: 0;
}

h1 {
  color: #193BCC;
}

li {
  list-style: none;
}

ul, ul ul {
  margin-left: 0;
}

.dropdown-pane {
  border: none;
  position: inherit;
  width: inherit;
}

.profile {
  margin-top: 15px;
}

.projects {
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 1rem;
  border: 2px solid #222266;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
}
