<h1><%= @name %></h1>

<ul>
  <% @ingredients.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>

<ol>
  <% @directions.each do |direction| %>
    <li><%= direction %></li>
  <% end %>
</ol>
