<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JavaScript</title>
    <link href="style.css" rel="stylesheet">
    <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js" defer></script>
    <script src="main.js" defer></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
