.tree-wrapper {
  height: 96vh;
  width: 98vw;
}

.branch {
  background-color: #007f00;
  margin: 1vh auto;
  height: 10vh;
  border-radius: 5vw;
}

.branch-0 {
  width: 10vh;
}

.branch-1 {
  width: 22vh;
}

.branch-2 {
  width: 34vh;
}

.branch-3 {
  width: 46vh;
}

.branch-4 {
  width: 58vh;
}

.branch-5 {
  width: 70vh;
}

.branch-6 {
  width: 82vh;
}

.trunk {
  background-color: #7f3325;
  margin: 1vh auto;
  height: 20vh;
  width: 10vh;
  border-radius: 5vw;
}
