<h1>Articles!</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <strong> <%= article["title"] %> </strong>
      <p> <%= article["description"] %> </p>
      <p>
        <a class="sourceURL" href="<%= article["url"] %>" target="_blank"> Read full article </a>
      </p>
    </li>
  <% end %>
</ul>
