<h1>Add new article</h1>

<form action="/articles" method="post">
  <label for="title">
    <p><strong>Title</strong></p>
    <input type="text" id="title" name="title">
  </label>
  <br />
  <label for="description">
    <p><strong>Description</strong></p>
    <input type="text" id="description" name="description">
  </label>
  <br />
  <label for="url">
    <p><strong>URL</strong></p>
    <input type="text" id="url" name="url">
  </label>
  <br />
  <p><input type="submit" name="submit" id="submit" value="Submit new article"></p>
</form>
