<h1>View a random article!</h1>

  <span id="error"> <%= @error %> </span>

  <a href="#" id="random_button">Random Button</a>

  <!-- <input
    type="submit"
    name="random_button"
    id="random_button"
    value="Random Button"> -->

<ul id="article_list">

</ul>
