<h1>View a random article!</h1>

  <span id="error"> <%= @error %> </span>

  <input
    type="submit"
    name="random_button"
    id="random_button"
    value="Random Button">

<ul id="article_list">

</ul>
