<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Product</a></li>
    <li><a href="#">Xyz</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Features
    </li>
  </ul>
</nav>

<div class="text-center">
  <h1>Wow, what an awesome page!</h1>
  <h3>Here are some reasons you should fill out our form:</h3>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="text-center">
        <a href="#" class="button">Learn More</a>
      </div>
  </div>
</div>
<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="text-center">
        <a href="#" class="button">Learn More</a>
      </div>
  </div>
</div>
<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="text-center">
        <a href="#" class="button">Learn More</a>
      </div>
  </div>
</div>
